.reviewFormContainer {
  width: 100%;

  

  h1 {
    margin-bottom: 15px;
  }

  .form {
    display: grid;

    gap: 26px;

    .field {
      height: 44px;
      width: 100%;
      border-radius: 6px;
      padding: 10px;
    }

    .review {
      .field {
        height: 100px;
      }
    }

    

    .imgInput {
      // grid-column: 1/2;
      height: 100px;

      input {
        display: block;
      }
    }
  }

  @media(max-width:768px) {
    .trashIcon {
      width: 80px;
    }
  }
}
