.FormContainer {
  width: 100%;
  padding: 1em 0;


  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(144, 150, 144);
    border-radius: 8px;
  }



  h1 {
    margin-bottom: 15px;
  }

  .form {
    display: flex;
    gap: 5%;


    .column {
      width: 100%;
      overflow-y: scroll;
      height: 500px;
      overflow-x: hidden;
      padding-inline: 10px;
    }

    .labelError {
      font-size: 0.8rem;
      margin-top: 0.3rem;
      color: red !important;
    }

    .fieldContain {
      margin-bottom: 1rem;
    }

    .fieldDescription {
      height: 80px;
    }

    .fieldUpload {
      border: 1px solid #8d8d8d;
      border-radius: 6px;
      padding: 10px;
      width: 100%;
    }

    @media (max-width: 768px) {}
  }
}